%align-page {
    max-width: $taille-ecran;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

%purple-button{
    width: 200px;
    margin: 20px 0px 25px 0px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background:linear-gradient($secondaire,$primaire );
    border:none;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;               
}

%footer {
    background-color: rgb(62, 60, 60) ;
    padding: 8px 25px;
    p{
        font-family: Shrikhand;
        color: white;
    }
    ul{
        list-style: none;
        padding: 0px;
        li{ 
            margin-bottom: 8px;
           a{
            text-decoration: none;
            color: white;
            font-size: 14px;
            i{
                margin-right: 7px;
            }
           }
        }
    }
}