@import './variables';
@import './mixins';
@import './placeholders';

header{
    @extend %align-page;
    display: flex;
    gap: 25%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px;
    img{
        width: 50%;
    }
    a{
        color: black;
    }
    
}
main{
    @extend %align-page;
    img{
        height: 260px;
        object-fit: cover;
        width: 100%;
    }
    .titre-restaurant{
        position: relative;
        top: -70px;
        background-color: $gris-menu;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding : 0px 20px;
        h2{
            font-family: 'Shrikhand';
            font-weight: 100;
        }
        i{
            font-size: 25px;
            margin-right: 10px;
        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        gap : 20px; 
        background-color:$gris-menu;
        position: relative;
        top: -70px;
        padding: 0px 10px;
        .sous-menu{
            display: flex;
            flex-direction: column;
            h3{
                font-weight: 100;
                margin: 10px 0px 18px 0px;
                span{
                    padding-bottom: 3px;
                    border-bottom: 3px solid $tertiaire;
                }
            }
            .article-menu{ 
                display: flex;
                flex-direction: column;
                gap: 10px;
                .article{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: white;
                    box-shadow: 1px 5px 8px 0px #e4e3e3;
                    padding: 10px 10px 5px 10px;
                    border-radius: 15px;
                    h4
                    {
                        margin: 0px 0px 7px 0px;
                        font-size: 18PX;
                    }
                    .description{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            margin: 0px 0px 7px 0px;
                        }
                    }

                    }
                }
        }
    }

    button{
        @extend  %purple-button;
    }
    
    footer{
        @extend %footer;
    }
}