@mixin pseudo-text($size, $margin, $pos:center, $color:rgb(0, 0, 0)){
    font-size: $size;
    margin: $margin;
    text-align: $pos;
    color: $color;
}
@mixin display-flex($direction, $align, $padding){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    padding: $padding;
}