@keyframes apparition-menu{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#entree{
    animation: apparition-menu  600ms ease-in; 
}
#plats{
    animation: apparition-menu  1.2s ease-in; 
}
#dessert{
    animation: apparition-menu 1.8s ease-in; 
}

.img-restaurant{
    height: 260px;
    object-fit: cover;
    width: 100%;
}
.titre-restaurant{
    @include display-flex(row, center, 20px);
    justify-content: space-between;
    position: relative;
    top: -70px;
    background-color: $gris-menu;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    h1{
        font-family: 'Shrikhand';
        font-weight: 100;
    }
    .coeur{
       @include anim_coeur;
    }
}
.menu{
    @include display-flex(column, stretch, 0px 10px 20px 10px);
    gap : 20px; 
    background-color:$gris-menu;
    margin-top: -70px;

    .sous-menu{
        display: flex;
        flex-direction: column;
        h2{
            font-weight: 100;
            font-size: 18px;
            margin: 10px 0px 18px 0px;
            span{
                padding-bottom: 3px;
                border-bottom: 3px solid $tertiaire;
                width: 44px;
                display: block;
            }
        }
        .list-menu{ 
            display: flex;
            flex-direction: column;
            gap: 10px;
            .article-menu{
                @include article-menu;
            }
           
        }
    }
}
.btn-commander{
    background-color: #F7F7F7;

    button{
        @include purple-button(180px, 20px 20% 30px 20%);
    }  
}


@media screen and (min-width: 992px){//desktop
    .header-restaurant{
        gap: 40%;
        img{
            width :20%;
        }
        i{
            font-size: 25px;
        }
   }
   .img-restaurant{
        height: 360px;
   }
   .titre-restaurant{
        h1{
            font-size: 28px;
        }
   }
   .menu{
        flex-direction: row;
        justify-content: space-around;
        .sous-menu{
            width: 29%;
        }
   }
   .btn-commander{
        display: flex;
        justify-content: center;
   }

}

@media screen and (min-width: 768px)and (max-width:992px){ // tablette
    .header-restaurant{
        gap: 40%;
        img{
            width :20%;
        }
        i{
            font-size: 18px;
        }
   }
    .sous-menu{    
        width: 90%; 
        justify-content: center;  
        .list-menu{
            padding-left: 30px;
        }
     }
     .btn-commander{
        display: flex;
        justify-content: center;
   }
}