.header-accueil{
    @extend %align-page;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
    position: relative;
    img{
        width: 40%;
        margin: 20px 0px 12px 0px;
    }
}
.header-restaurant{
    @extend %align-page;
    
    display: flex;
    gap: 25%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px;
    img{
        width: 50%;
    }
    a{
        color: black;
    }
}
