@keyframes tourner {                       
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@mixin article-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 1px 5px 8px 0px #e4e3e3;
    border-radius: 15px;
    overflow: hidden;
   
    .description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 60px);
        padding: 10px 10px 5px 10px;
        h4,p
        {
            overflow: hidden;
            white-space: nowrap; 
            text-overflow: ellipsis;
            font-size: 14px;
            margin: 0px 0px 7px 0px; 
        }
    }
    .prix{
        font-size: 14px;
        display: flex;
        margin : 11px 10px;
        align-items: end; 
        font-weight: bold;
        position: absolute;
        right: 10px;
        
    }
    .select-menu{ 
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiaire;
            color: white;
            border-radius: 0px 15px 15px 0px;
            width: 50px;
            height: 60px;
            font-size: 20px;
            
            margin-right: -50px;
    }

    &:hover{
        cursor: pointer;
        .prix,.select-menu
        { 
            transform: translateX(-50px);
            transform-origin: right;
            transition: transform 1000ms ease;  
        }
       
        .description{
           // transform: scaleX(0.8);
            width: 150px;
            transform-origin: right;
            transition: transform 1000ms ease;
        }
    }

    &:hover .select-menu i {
        animation: tourner 1s;
    }

    &:not(:hover){
        .prix, .select-menu
        {   
            transform: translateX(0px);
            transform-origin: left;
            transition: transform 1000ms ease;
        }
    }
}

