@mixin article-menu{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 5px 8px 0px #e4e3e3;
    border-radius: 15px;
    position: relative;
   
    .description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px 10px 5px 10px;
        h4,p
        {
            font-size: 14px;
            margin: 0px 0px 7px 0px;
            width: 240px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .prix{
        font-size: 16px;
        display: flex;
        align-items: flex-end;
        position: relative;
        p{ 
           margin : 11px 5px;
           align-items: end; 
           font-weight: bold;
           position: absolute;
           right: 10px;
        } 
        i{
            background-color: $tertiaire;
            color: white;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 21px 18px;
            font-size: 20px;
            position: absolute;
            right: 0px;
            transform: scaleX(0); 
        }
    }

    &:hover{
        .prix
        {
            i{
                transform: scale(1);
                transform-origin: right;
                transition: transform 1000ms ease;
            }
            p{
                transform: translateX(-50px);
                transform-origin: right;
                transition: transform 1000ms ease;
            }
        }
        .description{
            H4,P{
            width: 180px;
            }
        }
    }
}